.button-bottom-right {
    /* This fills the remaining space, by using flexbox. 
       Every toolbar row uses a flexbox row layout. */
       top: auto !important;
       right: 20px !important;
       bottom: 10px !important;
       left: auto !important;
       position: fixed !important;
  }

  .dashboard-card {
    position: absolute;
    top: 15px;
    left: 15px;
    right: 15px;
    bottom: 15px;
  }

  .more-button {
    position: absolute;
    top: 5px;
    right: 10px;
  }
  