
<div class="grid-container">
    <h1 class="mat-h1">My chore lists </h1>
    <mat-grid-list cols="2" rowHeight="150px">
        <mat-grid-tile *ngFor="let chorelist of chorelists " [colspan]="1" [rowspan]="1">
          <mat-card class="dashboard-card">
            <mat-card-header>
              <mat-card-title >
                {{chorelist.listName}}
                <button mat-icon-button class="more-button" [matMenuTriggerFor]="menu" aria-label="Toggle menu">
                  <mat-icon>more_vert</mat-icon>
                </button>
                <mat-menu #menu="matMenu" xPosition="before">
                  <button mat-menu-item (click)="editChore(chorelist.chorelistid)">Edit</button>
                  <button mat-menu-item>Remove</button>
                </mat-menu>
              </mat-card-title>
            </mat-card-header>
            <mat-card-content class="dashboard-card-content">
              <div>{{chorelist.listName}}</div>
              <img [src]="chorelist.listImageUrl" width="100px">
            </mat-card-content>
          </mat-card>
        </mat-grid-tile>
      </mat-grid-list>
</div>
  <button mat-mini-fab mat-fab-bottom-right (click)="addList()"  aria-label="Add a chorelist">
    <mat-icon>add</mat-icon>
  </button>

