<form [formGroup]="chorelistForm">
  <mat-form-field class="example-full-width">
    <input matInput placeholder="List" value="" formControlName="listName" required>
  </mat-form-field>

  <input type="hidden" placeholder="Owner" formControlName="owner">
  <input type="hidden" placeholder="chorelistid" formControlName="chorelistid">
  <div>
    <input #fileInput type="file" accept="image/*" capture (change)="handleNewImageFile($event)" style="display: none">
    <button mat-raised-button color="primary" (click)="fileInput.click()">Change Image</button>
  </div>
  <input id="imageFile" type="hidden" placeholder="listImageUrl" formControlName="listImageUrl">


</form>
<img width="150px" [src]="listImageUrl" />

<h3>Chores
  <button mat-icon-button color="warn" (click)="addChore()">
    <mat-icon aria-label="add">add</mat-icon>
  </button>
</h3>


<div *ngFor="let ch of choresForms">
  <form [formGroup]="ch">
    <input type="hidden" formControlName="choreid">
    <input type="hidden" formControlName="chorelist" placeholder="List">

    <mat-form-field>
      <input matInput formControlName="choreName" placeholder="Name">
    </mat-form-field>

    <mat-form-field>
      <input type="number" matInput formControlName="choreWeight" placeholder="Weight">
    </mat-form-field>
  </form>

</div>