<form [formGroup]="chorelistForm" (ngSubmit)="onSubmit()">
  <mat-form-field class="example-full-width">
    <input matInput placeholder="List" value="" formControlName="listName" required>
  </mat-form-field>

  <input type="hidden" placeholder="Owner" formControlName="owner">

</form>


<form [formGroup]="listItemsForm">
    <div formArrayName="chores">
        <h3>Chores <button mat-icon-button color="warn" (click)="addChore()">
            <mat-icon aria-label="add">add</mat-icon>
          </button></h3>
    
        <div *ngFor="let ch of listItemsForm.get('chores').controls; let j=index">
          <h4>CHORE {{j+1}}</h4>
          <div [formGroupName]="j">
            <mat-form-field>
              <input matInput formControlName="chorelist" placeholder="List">
            </mat-form-field>
    
            <mat-form-field>
              <input matInput formControlName="choreName" placeholder="Name">
            </mat-form-field>
    
            <mat-form-field>
              <input type="number" matInput formControlName="choreWeight" placeholder="Weight">
            </mat-form-field>
          </div>
        </div>
    
      </div>
</form>


<p>
  Form Value: {{ chorelistForm.value | json }}
</p>